.Home .lander {
  padding : 0 60px 60px 60px;
  text-align: center;
}

.Home .chinchilla {
  padding : 60px 0;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Home .lander p {
  color: #999;
}