@media all and (min-width: 480px) {

    .Login {
        padding : 0 60px 60px 60px;
    }

    .Login .logo {
        text-align: center;
    }

    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }

}